$color-alpha: #d5ac6c;
@import "../shared/mixins";

.page {
  gap: 20px;
}

h1 {
  @include title;
  font-size: 36px;
  padding-bottom: 0;
}

h2 {
  @include title;
  font-size: 26px;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.gameList {
  display: grid;
  gap: 20px;

  .game {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 600px;
    padding: 5px;
    border: 2px solid $color-alpha;
    text-align: center;

    &:before, &:after {
      content: "•";
      position: absolute;
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: $color-alpha;
      border: 2px solid $color-alpha;
      line-height: 12px;
      top: 5px;
      text-align: center;
    }

    &:before {
      left: 5px;
    }

    &:after {
      right: 5px;
    }

    .game-inner {
      position: relative;
      border: 2px solid $color-alpha;
      padding: 40px;
      display: flex;
      flex-direction: column;

      &:before, &:after {
        content: "•";
        position: absolute;
        width: 14px;
        height: 14px;
        font-size: 14px;
        color: $color-alpha;
        border: 2px solid $color-alpha;
        line-height: 12px;
        bottom: -2px;
        text-align: center;
      }

      &:before {
        left: -2px;
      }

      &:after {
        right: -2px;
      }

      fa-icon {
        margin-bottom: 10px;
      }

      .gameTitle {
        font-family: "Yeseva One", sans-serif;
        font-size: 20px;
        letter-spacing: 0.3px;
      }

      .buttons {
        margin-top: 18px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;

      }

    }
  }
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(28, 28, 28, 0.53);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;

  .popup_clickOutside {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .popup_box {
    background: linear-gradient(#443a45, #39313b);
    box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.037),
    0 2.5px 5.4px rgba(0, 0, 0, 0.053),
    0 4.6px 10.1px rgba(0, 0, 0, 0.065),
    0 8.3px 18.1px rgba(0, 0, 0, 0.077),
    0 15.5px 33.8px rgba(0, 0, 0, 0.093),
    0 37px 81px rgba(0, 0, 0, 0.13);
    border-radius: 15px;
    padding: 20px;
    max-height: 80vh;
    max-width: 80vw;
    z-index: 2;

    .popup_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 9px;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 12px;

        .row {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          label {
            display: block;
            padding-bottom: 5px;
            font-size: 11px;
            opacity: 0.5;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.7px;
          }

          input {
            width: 100%;
            border: none;
            border-bottom: 1px dashed #d5ac6c;
            background: none;
            outline: none;
            color: white;
            text-align: center;
            padding-bottom: 5px;
            font-size: 12px;
            letter-spacing: 1.5px;
            height: 22px;
            margin-bottom: 10px;
            max-width: 170px;
            font-weight: 600;
          }
        }

        button:nth-of-type(1) {
          margin-top: 10px;
        }
      }
    }
  }
}
